# Ignore Terraform state files and backups
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore local .terraform directories
**/.terraform/

# Ignore .terraform.lock.hcl, a file used by Terraform 0.13+
.terraform.lock.hcl

# Ignore .terraform.lock.json, a file used by Terraform 0.12 and earlier
terraform.lock.hcl

# Ignore override files as they are usually used to override resources locally and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore sensitive files containing credentials, keys, or other secrets
*.pem
*.key


# Ignore .tfvars files that are used for variable definitions
*.auto.tfvars
*.auto.tfvars.json

# Ignore CLI configuration file
.terraformrc

# Ignore .tfplan files which represent a terraform plan
*.tfplan

# Ignore macOS specific files
.DS_Store
